@{
    ViewBag.Title = "Home Page";
}


<div class="panel panel-primary panel-body">
    <div class="col-md-12">
        @Html.ActionLink("ConsultarZoho", "ConsultaZoho", new { id = 1 }, new { @class = "btn btn-success" })
    </div>
</div>